@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles for toggler/click/unclick */

button span {
  transform-origin: 2px 2px;
  transition: all ease 120ms;
}

button.is-clicked span {
  margin-left: 5px;
}

button.is-clicked span:nth-of-type(1) {
  transform: rotate(45deg);
  width: 1.29rem;
}

button.is-clicked span:nth-of-type(2) {
  visibility: hidden;
}

button.is-clicked span:nth-of-type(3) {
  transform: rotate(-45deg);
  width: 1.29rem;
}

/* animate mobile menu */
